<table class="table">
  <tr>
    <th>
      Name
    </th>
    <th>
      Location
    </th>
    <th>
      Teacher Name
    </th>
    <th>
    </th>
    <th>
    </th>
    <th>
    </th>
  </tr>
  <tr *ngFor="let class of school_classess; let i=index;trackBy:trackByIndex;">
    <td>
      <input [(ngModel)]="school_classess[i].name" />
      
    </td>
    <td>
        <input [(ngModel)]="school_classess[i].location" />
    </td>
    <td>
        <input [(ngModel)]="school_classess[i].teacher" />
    </td>
    <td>
        <button class="btn btn-success" (click)="edit(class.id)">Edit</button>
    </td>
    <td>
        <button class="btn btn-danger" (click)="delete(class.id)">Delete</button>
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
        <button  (click)="openClassAddForm()" class="btn btn-info" data-toggle="modal" [attr.data-target]="'#myClassModal'">Add</button>
    </td>
  </tr>
</table>
<div class="modal" id="myClassModal" >
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add Class</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body" *ngIf="addClassForm">
          <form [formGroup]="addClassForm" (ngSubmit)="onAddClassSubmit()">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" id="name" formControlName="name" class="form-control">
  
              <span class="help-block" *ngIf="!addClassForm.get('name').valid && addClassForm.get('name').touched">
                Please Fill this field
              </span>
            </div>
            <div class="form-group">
                <label for="name">Location</label>
                <input type="text" id="location" formControlName="location" class="form-control">
    
                <span class="help-block" *ngIf="!addClassForm.get('location').valid && addClassForm.get('location').touched">
                  Please Fill this field
                </span>
              </div>
              <div class="form-group">
                  <label for="name">Teacher</label>
                  <input type="text" id="teacher" formControlName="teacher" class="form-control">
      
                  <span class="help-block" *ngIf="!addClassForm.get('teacher').valid && addClassForm.get('teacher').touched">
                    Please Fill this field
                  </span>
                </div>
            
            <div class="form-group">
              <input data-dismiss="modal" (click)="onAddClassSubmit()" class="btn btn-success"
                type="submit" value="submit" [disabled]="!addClassForm.valid" />
  
            </div>
          </form>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button id="close_modal" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>
<app-student *ngIf="selected_class" [school_class]="selected_class">

</app-student>