<table class="table">
  <tr>
    <th>
      Name
    </th>
    <th>
      Age
    </th>
    <th>
      GPA
    </th>
    <th>

    </th>
    <th>

    </th>
  </tr>
  <tr *ngFor="let student of students; let i=index;">
    <td>
      <span [ngClass]="{'bg bg-danger': student.gpa > 3.2}">
        {{student.first_name}} {{student.sur_name}}
      </span>

    </td>
    <td>
      {{student.age}}
    </td>
    <td>
      {{student.gpa}}
    </td>
    <td>
      <button class="btn btn-success" (click)="openStudentEditForm(student.id)" data-toggle="modal" [attr.data-target]="'#myModal'">Edit</button>
    </td>
    <td>
      <button class="btn btn-danger" (click)="onDeleteStudent(student.id)">delete</button>
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td  >
      <button  (click)="openStudentAddForm()" class="btn btn-info" data-toggle="modal" [attr.data-target]="'#myModal'">Add</button>
    </td>
  </tr>
</table>
<div class="modal" id="myModal" [ngClass]="{'hide': formSubmitted}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Student</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" *ngIf="editForm">
        <form [formGroup]="editForm" (ngSubmit)="student ? onEditStudentSubmit(student.id) : onAddStudentSubmit()">
          <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" id="first_name" formControlName="first_name" class="form-control">

            <span class="help-block" *ngIf="!editForm.get('first_name').valid && editForm.get('first_name').touched">
              Please Fill this field
            </span>
          </div>
          <div class="form-group">
            <label for="sur_name">Sur Name</label>
            <input type="text" id="sur_name" formControlName="sur_name" class="form-control">
            <span class="help-block" *ngIf="!editForm.get('sur_name').valid && editForm.get('sur_name').touched">
              <span *ngIf="editForm.get('sur_name').errors['duplicate']">This sur name already exist</span>
              <span *ngIf="editForm.get('sur_name').errors['required']">Please fill this field</span>
            </span>
          </div>
          <div class="form-group">
            <label for="age">Age</label>
            <input type="text" id="age" formControlName="age" class="form-control">
            <span class="help-block" *ngIf="!editForm.get('age').valid && editForm.get('age').touched">
              Please Fill this field
            </span>
          </div>
          <div class="form-group">
            <label for="gpa">GPA</label>
            <input type="text" id="gpa" formControlName="gpa" class="form-control">
            <span class="help-block" *ngIf="!editForm.get('gpa').valid && editForm.get('gpa').touched">
              Please Fill this field
            </span>
          </div>
          <div class="help-block alert alert-danger" *ngIf="!editForm.valid && editForm.touched">
            Please fill all fields
          </div>
          <div class="form-group">
            <input data-dismiss="modal" (click)="student ? onEditStudentSubmit(student.id) : onAddStudentSubmit()" class="btn btn-success"
              type="submit" value="submit" [disabled]="!editForm.valid" />

          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button id="close_modal" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>